
@media screen and (min-width: 768px) {

    footer {
        padding: 1vh 2%;

        background-color: #f8f8f8;
        border-top: 1px solid #e7e7e7;
        display: flex;
        justify-content: space-around;
    }

    footer > * {
        margin: 0 10px;
    }
}
