
/*
    .menu
        CSS class for blocks containing a series of menu-item.
        It should be applied on the inner container.
        Ex: <ul> in case of a "nav > ul > li" hierarchy.

        Variations:
            .horizontal: by default, the menu is vertical. This class makes it horizontal.

    .menu-item
        Item part of a menu. It has a standardized shape and behavior.

        Variations:
            .active: highlight this item.
            .empty: on PC only, keep space even if the item is empty.

    .sub-menu
        Add and offset at the left of the menu.
 */


.menu {
    margin: 0;
    padding: 0;
}

.menu.horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}


.menu-item {
    list-style: none;

    margin: 0;
    padding: 10px 15px;
}

.menu-item > * {
    display: block;
    padding: 10px 15px;
    margin: 0 -15px;
}

.menu-item > :first-child {
    margin-top: -10px;
}

.menu-item > :last-child {
    margin-bottom: -10px;
}


.menu-item > a {
    color: #337ab7;
    text-decoration: none;
}

.menu-item.active > a,
.menu-item > a:focus,
.menu-item > a:hover {
    color: #23527c;
    background: #eee;
}

.sub-menu {
    /* "take" the side-space from the padding of the parent menu */
    margin: 0 -15px;
    padding: 0 0 0 20px;
}


@media screen and (min-width: 768px) {
    .menu-item.empty {
        min-height: 40px;
    }
}
