

header {
    width: 100%;
    min-height: 50px;
    margin-bottom: 1.5%;

    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 4px;
}


/* All items displayed inside the header should have a height of 50px; */

#brand-logo
{
    float: left;
    margin: 10px;
    height: 30px; /* TODO: resize the original image */
    line-height: 0; /* Remove unwanted extra 5px at bottom */
}

#app-name {
    margin: 15px; /* for line-height=14px; */
    display: inline-block; /* required to "enable" margin-top */
    color: #777;
}


#task-manager-status {
    float: right;
    margin: 8px; /* for standard bootstrap button size (42px) */
}


#main-content {
    padding: 0 2%;
}

#brand-logo > #hamburger-icon {
    display: none;
}


@media screen and (max-width: 767px) {
    #brand-logo {
        position: relative; /* placement du ham menu */

        cursor: pointer;

        width: 62px; /*48px + 14px (ham) */
        height: 40px;
        overflow: hidden;

        padding: 4px 8px;
        margin-top: 5px;
        margin-bottom: 5px;

        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #brand-logo > #hamburger-icon {
        display: inline;
        /* position absolute will keep it out of the flow and the Bajoo icon will not go on the line. */
        position: absolute;
    }

    #brand-logo > #hamburger-icon::before {
        line-height: 36px;
    }
    #brand-logo > img {
        margin-left: 14px; /* space for the hamburger logo */
    }

    #app-name {
        display: none;
    }

    /* main-menu is a left panel */
    #main-menu {
        z-index: 100;

        position: fixed;
        top: 50px;
        bottom: 0;
        left: -100%; /* NOTE: % is relative to the parent, not itself. */
        transition: left 0.5s;

        overflow-y: auto;
        max-width: 100%;

        margin: 0;
        padding: 2% 2% 2% 0;

        background-color: #fff;
        border-top: 2px solid #ccc;
        border-right: 2px solid #ccc;
        border-top-right-radius: 4px;
    }
    #main-menu.menu-open {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        transition: left 0.5s;
    }

    #main-menu > * {
        margin: 15px;
    }

    #main-menu > .close {
        margin: 0;
    }

    #lang-selection,
    #user-menu {
        text-align: center;
    }

}

@media screen and (min-width: 768px) {
    header {
        position: relative;
    }

    #main-menu > .close {
        display: none;
    }

    #side-menu {
        position: absolute;
        top: 100%; /* 100% of the header */
        margin-top: 1.5%;
        width: 20%;

        min-height: 80vh; /* the shift from top must be handled. */
        border-right: 1px solid grey;
    }
    #side-menu > * {
        float: right;
    }

    #lang-selection {
        line-height: 1em;
        margin: 18px; /* (header.width - self.line-height) / 2 */
        float: right;
    }
    #user-menu {
        float: right;
        margin: 8px;
    }

    #main-content.two-column {
        margin-left: 20%; /* space left for the side-menu */
    }

}



select.readonly:disabled {
    cursor: default;
}

.side-nav .nav .nav > li > a {
    padding: 5px 30px;
}


.side-nav .nav > li.active > a {
    background-color: #eee;
    color: #23527c;
}

.side-block {
    padding: 10px;
    text-align: center;
}

/* Main title of the page */
.page-title {
    margin: 0;
    font-size: 24px;
}


.storage-item {
    padding: 5px;
}

.storage-item:hover {
    background-color: #eee;
}

.storage-item .media-left {
    margin: 5px;
    font-size: 32px;
}

.storage-item .storage-attributes {
    font-size: 12px;
    vertical-align: middle;
}
.storage-item .storage-name {
    vertical-align: middle;
}

.storage-item:not(:hover) .storage-details
{
    display: none;
}


#file-zone {
    min-height: 50vh;
}

.folder-row i {
    color: #f49d29;
}

.empty-box p {
    text-align: center;
}

.dropzone {
    background-color: grey;
    border: 1px darkgrey dashed;
}


#task-manager-status {
    float: right;

    min-width: 200px;
    text-align: center;

    border: solid 1px;
    border-radius: 4px;
    /* margin: 8px 16px; */
    padding: 6px 12px;
}

#task-manager-status:hover {
    cursor: pointer;
}


/* padding is handled by .task-progressbar */
.task-item-list {
    padding: 0;
}

.task-item-list .task-progressbar {
    padding: 10px 15px;
    margin: 0;
}

.task-item-list > ul { /* nested list */
    padding-left: 15px;
    padding-bottom: 5px;
}

.task-item-list  .task-item-list .task-progressbar { /* nested item */
    padding: 5px 15px;
}

.folding-handle {
    cursor: pointer;
}

/* task-* are used both for navbar status and for the modal */
.task-progress {
    color: #fff;
    background: #5bc0de;
    border: #46b8da;
}
.task-progress:hover {
    background: #31b0d5;
    border: #269abc;
}

.task-progress .task-progressbar {
    color: #333
}

.task-done {
    color: #fff;
    background : #73d773;
    border: #4cae4c;
}
.task-done:hover {
    background: #449d44;
    border: #398439;
}

.task-error {
    color: #fff;
    background: #c9302c;
    border: #761c19;
}
.task-error:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

.task-error.task-progress {
    background-color: #ec673b;
    border-color: #9e462a;
}

.task-error.task-progress:hover {
    background-color: #9e462a;
}


.task-canceled {
    background: lightgrey;
    border: grey;
}

.task-canceled:hover {
    background-color: grey;
}


#storage-title {
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px 15px;
}

#storage-title .page-title {
    display: inline-block;
}

#storage-title .breadcrumb {
    margin: 0;
    padding: 0;
}


.action-zone {
    text-align: center;
}

@media (min-width: 768px) {
    .action-zone {
        float: right;
    }
}

a.menus-icons {
    cursor: pointer;
    color: #ec673b;
    font-size: 1.6em;
    padding: 0 4px 0 4px;
    margin: 0;
}
a.menus-icons:hover {
    color: #9e462a;
}

a.menus-icons.disabled {
    cursor: default;
    color: #ec673b44;
}


#member-list {
    margin-bottom: 0;
}

#member-list th {
    text-align: center;
}

.member-row > .email-member {
    vertical-align: middle;
    padding: 5px 10px;
}

.member-row-changed {
    font-weight: bold;
}

.member-row-deleted > .email-member {
    font-weight: bold;
    text-decoration: line-through;
}

#upload-file-input {
    width: 100%
}
