

.side-nav {
    border-right: 1px solid grey;
}

.side-nav .nav .nav > li > a {
    padding: 5px 30px;
}


.side-nav .nav > li.active > a {
    background-color: #eee;
    color: #23527c;
}


.storage-item {
    padding: 5px;
}

.storage-item:hover {
    background-color: #eee;
}

.storage-item .media-left {
    margin: 5px;
    font-size: 32px;
}

.storage-item .storage-attributes {
    font-size: 12px;
    vertical-align: middle;
}
.storage-item .storage-name {
    vertical-align: middle;
}

.folder-row i {
    color: #f49d29;
}
