

.side-nav {
    border-right: 1px solid grey;
}

.side-nav .nav .nav > li > a {
    padding: 5px 30px;
}


.side-nav .nav > li.active > a {
    background-color: #eee;
    color: #23527c;
}

.side-block {
    padding: 10px;
    text-align: center;
}

/* Main title of the page */
.page-title {
    margin: 0;
    font-size: 24px;
}


.storage-item {
    padding: 5px;
}

.storage-item:hover {
    background-color: #eee;
}

.storage-item .media-left {
    margin: 5px;
    font-size: 32px;
}

.storage-item .storage-attributes {
    font-size: 12px;
    vertical-align: middle;
}
.storage-item .storage-name {
    vertical-align: middle;
}

.folder-row i {
    color: #f49d29;
}

.empty-box p {
    text-align: center;
}

.dropzone {
    background-color: grey;
    border: 1px darkgrey dashed;
}


#task-manager-status {
    float: right;

    min-width: 200px;
    text-align: center;

    border: solid 1px;
    border-radius: 4px;
    margin: 8px 16px;
    padding: 6px 12px;
}

#task-manager-status:hover {
    cursor: pointer;
}


/* padding is handled by .task-progressbar */
.task-item-list {
    padding: 0;
}

.task-progressbar {
    padding: 10px 15px;
}


/* task-* are used both for navbar status and for the modal */
.task-progress {
    color: #fff;
    background: #5bc0de;
    border: #46b8da;
}
.task-progress:hover {
    background: #31b0d5;
    border: #269abc;
}

.task-progress .task-progressbar {
    color: #333
}

.task-done {
    color: #fff;
    background : #73d773;
    border: #4cae4c;
}
.task-done:hover {
    background: #449d44;
    border: #398439;
}

.task-error {
    color: #fff;
    background: #c9302c;
    border: #761c19;
}
.task-error:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}


.task-aborted {
    background:  lightgrey;
    border: grey;
}
